body {
	background-color: #aaa;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
}
table {
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
th {
	border: 5px solid #444;
}
h1 {
	font-size: 72px;
}
img {
	height: 240px;
}
p.name {
	font-size: 48px;
}
p.price {
	font-size: 32px;

}
button {
	background-color: #aaa;
	border: none;
	color: #fff;
	padding: 12px 24px;
	font-size: 24px;
}
